## Tuples

* It is collection of different data types seperated by , and enclosed with ()

In [2]:
t=(1,2,3,509,"hello","kvsw")
t

(1, 2, 3, 509, 'hello', 'kvsw')

In [3]:
type(t)

tuple

In [4]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [6]:
t.count("hello")

1

In [7]:
t1=(3,4,5,"sarala","bb")
type(t1)

tuple

In [8]:
t1.count(3)

1

In [19]:
t1.index("sarala")

3

In [12]:
t1[0]

3

In [14]:
t1[-1]

'bb'

In [13]:
t1[1:]

(4, 5, 'sarala', 'bb')

In [15]:
t1*2

(3, 4, 5, 'sarala', 'bb', 3, 4, 5, 'sarala', 'bb')

In [16]:
print(t+t1)

(1, 2, 3, 509, 'hello', 'kvsw', 3, 4, 5, 'sarala', 'bb')

In [23]:
t[0]//3

0

In [24]:
t[0]/3

0.3333333333333333

## Set
> It is a collection of elements seperated by , and enclosed{}.does't has index.the elements are unorderd.

In [27]:
se={2,4,6,8}
type(se)

set

In [28]:
se

{2, 4, 6, 8}

In [31]:
s={"guava","mango","banana"}
print(type(s))
s

<class 'set'>

{'banana', 'guava', 'mango'}

In [33]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [35]:
se.add(5)
se

{2, 4, 5, 6, 8}

In [36]:
se.clear()
se

set()

In [37]:
set1={1,3,5,7,9}
set1

{1, 3, 5, 7, 9}

In [38]:
setcopy=set1.copy()
print(setcopy)

{1, 3, 5, 7, 9}

In [39]:
print(set1)

{1, 3, 5, 7, 9}

In [40]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [41]:
x={9,1,6,0,88}
y={8,1,1,6}
z=x.difference(y)
z

{0, 9, 88}

In [42]:
z1=y.difference(x)
z1

{8}

In [48]:
print(x.isdisjoint(y))
print(y.isdisjoint(x))

False
False

In [44]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [45]:
print(x.union(y))
print(y.union(x))

{0, 1, 6, 88, 9, 8}
{0, 1, 6, 8, 9, 88}

In [46]:
print(x.intersection(y))
print(y.intersection(x))

{1, 6}
{1, 6}

In [49]:
print(x.issubset(y))

False

In [51]:
print(y.issubset(x))

False

## Accessing elements in set

In [53]:
s_t={1,2,3,4,5}
for kvsw in s_t:
    print(kvsw,end=" ")

1 2 3 4 5

In [55]:
updated_set=y.update(x)
print(updated_set)

None

In [59]:
y.update(x)
y

{0, 1, 6, 8, 9, 88}

In [56]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [57]:
y

{0, 1, 6, 8, 9, 88}

In [58]:
x

{0, 1, 6, 9, 88}

In [60]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [64]:
z=x.symmetric_difference(y)
z

{8}

In [65]:
x.symmetric_difference(y)
x

{0, 1, 6, 9, 88}

In [62]:
x

{0, 1, 6, 9, 88}

In [63]:
y

{0, 1, 6, 8, 9, 88}

In [67]:
x.pop()
x

{6, 9, 88}

In [68]:
y.remove(88)
y

{0, 1, 6, 8, 9}

In [70]:
y.discard(6)
y

{0, 1, 8, 9}

In [71]:
li=[2,3,4,5,6,7]
print(type(li),li)

<class 'list'> [2, 3, 4, 5, 6, 7]

In [72]:
x=set(li)
print(type(x),x)

<class 'set'> {2, 3, 4, 5, 6, 7}

In [1]:
#user input 5 6 7 8 8 5
s=list(set(map(int,input().split())))
print(s)

5 6 7 8 8 5
[8, 5, 6, 7]