# Day Obectives
## Mark down syntax
### Python basics

**Cheking Bold**

***Text bold and italic***

* text

> sarala

## python Basics

## Find the python version

In [8]:
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

## print hello world

In [9]:
print("hello world")

hello world

In [10]:
print("kvsw sarala")

kvsw sarala

In [11]:
print("kvsw"+" jerisha")

kvsw jerisha

In [12]:
x="abc"
print(x)

abc

## Data types in python

* Int
* Float
* String
* Complex
* List
* Tuples
* Set

In [13]:
a=9
print(a)

9

In [14]:
type(a)

int

In [15]:
f=0.1
print(f)

0.1

In [16]:
type(f)

float

In [18]:
s="abc"
print(s)

abc

In [19]:
type(s)

str

In [21]:
c=1+2j
type(c)

complex

In [22]:
c

(1+2j)

## Data type conversion

In [26]:
s=str(c)
s

'(1+2j)'

## Float conversion

In [28]:
i=float(a)
print(i)
print(type(i))

9.0
<class 'float'>

## Variables assigning
* Different datatypes can assigned in different variables
* Same datatype can be assigned in a different variables

In [32]:
y,z,a=21,"world",25.5
print(y,z,a)
print(type(y))
print(type(z))
print(type(a))
print(type(y),type(z),type(a))

21 world 25.5
<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'> <class 'str'> <class 'float'>

In [33]:
a=b=c="jerisha"
a

'jerisha'

In [34]:
b

'jerisha'

In [35]:
c

'jerisha'

## Arithimetic and logical operations in python

In [42]:
p=10
q=20
print("addition",p+q)
print("substraction",p-q)
print("multiplication",p*q)
print("floor division",p//q)
print("power",p**2)

addition 30
substraction -10
multiplication 200
floor division 0
power 100

## Comments in python

In [53]:
'''adsjahiu
eyuhvdluj
nkjashd
csibdjhbdai'''
kjhdhfuhx
uqy97dhb

NameError: name 'kjhdhfuhx' is not defined